.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 0 3rem 0;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.selectedButton {
  border: 1px solid lightgreen;
}

.button:hover {
  background-color: #000;
  color: #fff;
}
